{% extends 'base.html.twig' %}
{% block title %}
	<title>
		Ouvrir Boutique
	</title>
{% endblock %}

{% block body %}
	<style>
		.cardSell {
			background-color: #D8FFFD;
			padding: 20px;
			border-radius: 10px;
			box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
			margin-top: 20px;
		}
	</style>
	<center>

		<div style="height : 50px; "></div>

		<H3>Bienvenue dans notre programme Affiliate !
		</H3>
		<!--H6 style="margin-left : 10px ; margin-right: 10px; ">Aidez vos clients à mieux retrouver vos articles et vos catégories.
		</H6>
		<H6 style="margin-left : 10px ; margin-right: 10px; ">Rejoignez notre plateforme et rendez votre boutique accessible en ligne.
		</H6-->
		<div style="height : 20px; "></div>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div class="cardSell">
						<center>
							<H3 style="margin : 20px ; margin-bottom : 30px ;  ">Comment devenir un affiliate ?</H3>
							<div>
								<i class="fa fa-check" aria-hidden="true"></i>
								<a href="/inscription">Créer</a> un compte.
							</div>
							<div>
								<i class="fa fa-check" aria-hidden="true"></i>
								Collectez votre code Promo.
							</div>
							<div>
								<i class="fa fa-check" aria-hidden="true"></i>
								Partagez votre code et invitez plus de boutiques.
							</div>
							<div style="margin-bottom : 40px">
								<i class="fa fa-check" aria-hidden="true"></i>
								Gagnez 30% des inscriptions mensuelles de vos invités.
							</div>
							 
							 
 

						</center>
					</div>
				</div>
				 
			</div>
		</div>

		<div style="margin : 20px; ">Contactez l'administrateur pour commander ou pour plus d'information
		</div>
		<br>
		<a href="/inscription" target="_blank" style="padding : 10px 12px 15px 12px ;    background-color : red ; color : white;  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ">
			Inscription
		</a>
        
	</center>

	<div style="height : 100px; "></div>

{% endblock %}

