{% extends 'base.html.twig' %}
{% block title %} 
		<title>
			Ouvrir Boutique
		</title> 
{% endblock %}

{% block body %}
<style>
    .cardSell {
        background-color : #D8FFFD ; 
        padding : 20px ; 
        border-radius : 10px ; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top : 20px ; 
    }
</style>
<center>

    <div style="height : 50px; ">

    </div>
    
    <H3>Il est temps d'améliorer votre projet !  </H3>
    <H6 style="margin-left : 10px ; margin-right: 10px; ">Aidez vos clients à mieux retrouver vos articles et vos catégories. </H6>
    <H6 style="margin-left : 10px ; margin-right: 10px; ">Rejoignez notre plateforme et rendez votre boutique accessible en ligne. </H6>
    <div style="height : 20px; ">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="cardSell">
                    <center>
                        <H3 style="margin : 20px ; margin-bottom : 30px ;  " >Pack Beginner : 3&nbsp;mois (90 jours)</H3>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Boutique en ligne personnalisé.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Gestion des articles.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Gestion des catégories.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Suivi de nombre des visites, détaillé par Produit + Boutique.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            QR Code pour un accés pratique à la page de la boutique.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Période d'essai : <span style="color : green ; "> 10 jours </span>.
                        </div>

                        <H2 style="color : #FF0909;  margin-top : 40px ; margin-bottom : 20px ;   font-weight : bold ;   "> - PROMOTION - </H2>
                        <div style="   margin-bottom : 20px ;  "> 
                            <span><strike style="color : #FF0909; margin-right :10px; font-size : 26px ;  "> 120 DT </strike> </span> 
                            <span style=" margin-right :10px; font-size : 32px ;  ">100.00</span>DT/mois
                        </div>

                    </center>
                </div>
            </div>
            <div class="col-sm">
                <div class="cardSell">
                    <center>
<H2 style="margin : 20px ; margin-bottom : 30px ;  ">Pack Pro : 3&nbsp;mois (180 jours)</H2>

                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Boutique en ligne personnalisé.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Gestion des articles.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Gestion des catégories.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Suivi de nombre des visites, détaillé par Produit + Boutique.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            QR Code pour un accés pratique à la page de la boutique.
                        </div>
                        <div>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Période d'essai : <span style="color : green ; "> 10 jours </span>.
                        </div>

                        <H2 style="color : #FF0909;  margin-top : 40px ; margin-bottom : 20px ;   font-weight : bold ;   "> - PROMOTION -</H2>
                        <div style="   margin-bottom : 20px ;  "> 
                            <span><strike style="color : #FF0909; margin-right :10px; font-size : 26px ;  "> 220 DT </strike> </span> 
                            <span style=" margin-right :10px; font-size : 32px ;  ">170.00</span>DT/mois
                        </div>

                    </center>
                </div>
            </div>
        </div>
    </div>

    <div style="margin : 20px; ">Contactez l'administrateur pour commander ou pour plus d'information </div>
    <br>
    <a href ="https://www.facebook.com/abdelazizmakhlouf86/" target="_blank" style="padding : 10px 12px 15px 12px ;    background-color : red ; color : white;  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; "> Commander </a>
</center>

<div style="height : 100px; "></div>

{% endblock %}